<li class="separator"></li>
<li class="switch_pad acl-write">
  <a title="Switch Pad FAST!">
    <span class="buttonicon"></span>
  </a>
</li>

<style>

  .switch_pad{
    font-family:font-awesome;
  }

  .switch_pad .buttonicon {
    left:-1px!important;
  }


  .switch_pad .buttonicon:before{
    content:"\e82f";
  }
</style>

